<!DOCTYPE html>
<html>
  <head>
    <title>erweiterte Suche</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/erweiterte_suche/styles.css" type="text/css" rel="stylesheet"/>
    <script src="data/document.js"></script>
    <script src="files/erweiterte_suche/data.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
  </head>
  <body ng-app="ImmoPiratenApp" ng-controller="searchCtrl" data-ng-init="getDetail()">
    <div id="base" class=""  >

      <!-- Unnamed (Rectangle) -->

      <!-- Logo (Image) -->
      <div id="u61" class="ax_default image" data-label="Logo">
        <a href="#!startseite"><img id="u61_img" class="img " src="images/startseite/logo_u3.png"/>
        <!-- Unnamed () -->
        <div id="u62" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div></a>
      </div>

      <!-- Login -->
      <div id="u63" class="ax_default">
        <div id="u63_state0" class="panel_state" data-label="State1">
          <div id="u63_state0_content" class="panel_state_content">

            <!-- User (Shape) -->
            <div id="u64" class="ax_default icon" data-label="User">
              <img id="u64_img" class="img " src="images/startseite/user_u6.png"/>
              <!-- Unnamed () -->
              <div id="u65" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Login (Rectangle) -->
            <div id="u66" class="ax_default paragraph" data-label="Login">
              <div id="u66_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u67" class="text">
                <p><span>Mein Konto | Login</span></p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
<div>


</div>
      <!-- Unnamed (Suche) -->
      <div id="u91" class="ax_default">
        <div id="u91_state0" class="panel_state" data-label="State1">
          <div id="u91_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u92" class="ax_default box_1">
              <div id="u92_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u93" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Art (Droplist) -->
            <div id="u94" class="ax_default droplist" data-label="Art" >
              <select id="u94_input" name="realestatetype" ng-model="realestatetype">
                <option value="0" >Wohnung</option>
                <option value="1">Haus</option>
                <option value="2">Grundstück</option>
              </select>
            </div>

            <!-- Typ (Droplist) -->
            <div id="u95" class="ax_default droplist" data-label="Typ">
              <select id="u95_input" name="purchasetype" ng-model="purchasetype">
                <option value="0">Kauf</option>
                <option value="1">Miete</option>
              </select>
            </div>

            <!-- Umkreis (Droplist) -->
            <div id="u96" class="ax_default droplist" data-label="Umkreis">
              <select id="u96_input" name="radius" ng-model="radius" ng-init="radius='10'">
                <option value="1">1 km</option>
                <option value="5">5 km</option>
                <option value="10">10 km</option>
                <option value="50">50 km</option>
                <option value="100">100 km</option>
                <option value="200">200 km</option>
              </select>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u97" class="ax_default text_field" data-label="Ort">
            	<label for="city">Straße, PLZ, Ort</label>
              <input id="u97_input" type="text" name="city" placeholder="Straße, PLZ, Ort" ng-model="city" required/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u98" class="ax_default primary_button" ng-click="doSearch()">
              <div id="u98_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u99" class="text">
                <p ><span >Suche</span></p>
              </div>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u100" class="ax_default text_field" data-label="Ort">
              <input id="u100_input" type="text" placeholder="Preis von"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u101" class="ax_default text_field" data-label="Ort">
              <input id="u101_input" type="text" placeholder="Preis bis"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u102" class="ax_default text_field" data-label="Ort">
              <input id="u102_input" type="text" placeholder="Anzahl Zimmer ab"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u103" class="ax_default text_field" data-label="Ort">
              <input id="u103_input" type="text" placeholder="Anzahl Zimmer bis"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u104" class="ax_default text_field" data-label="Ort">
              <input id="u104_input" type="text" placeholder="Fläche von"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u105" class="ax_default text_field" data-label="Ort">
              <input id="u105_input" type="text" placeholder="Fläche bis"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u106" class="ax_default text_field" data-label="Ort">
              <input id="u106_input" type="text" placeholder="Baujahr von"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u107" class="ax_default text_field" data-label="Ort">
              <input id="u107_input" type="text" placeholder="Baujahr bis"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u108" class="ax_default shape">
              <div id="u108_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u109" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u110" class="ax_default shape">
              <div id="u110_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u111" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u112" class="ax_default shape">
              <div id="u112_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u113" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u114" class="ax_default primary_text_dark">
              <div id="u115" class="text">
              <label>Garten:</label>
              <input style="float: right;" type="checkbox" name="garden" ng-init="garden='0'" ng-model="garden" ng-true-value="'1'" ng-false-value="'0'">
   
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u116" class="ax_default primary_text_dark">
              <!-- Unnamed () -->
              <div id="u117" class="text">
                 <label>Balkon:</label>
              <input style="float: right;" type="checkbox" name="balcony" ng-init="balcony='0'" ng-model="balcony" ng-true-value="'1'" ng-false-value="'0'">
   
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u118" class="ax_default primary_text_dark">
              <div id="u118_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u119" class="text">
                 <label>Terasse:</label>
              <input style="float: right;" type="checkbox" name="terasse" ng-init="terasse='0'" ng-model="terasse" ng-true-value="'1'" ng-false-value="'0'">
   
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u135" class="ax_default paragraph">
              <div id="u135_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u136" class="text">
                <p><span>Preis</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u137" class="ax_default paragraph">
              <div id="u137_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u138" class="text">
                <p><span>-</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u139" class="ax_default paragraph">
              <div id="u139_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u140" class="text">
                <p><span>Anzahl Zimmer</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u141" class="ax_default paragraph">
              <div id="u141_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u142" class="text">
                <p><span>-</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u143" class="ax_default paragraph">
              <div id="u143_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u144" class="text">
                <p><span>Wohnfläche</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u145" class="ax_default paragraph">
              <div id="u145_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u146" class="text">
                <p><span>Baujahr</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u147" class="ax_default paragraph">
              <div id="u147_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u148" class="text">
                <p><span>-</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u149" class="ax_default paragraph">
              <div id="u149_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u150" class="text">
                <p><span>-</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u151" class="ax_default paragraph">
              <div id="u151_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u152" class="text">
                <p><span>Heizart</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u153" class="ax_default paragraph">
              <div id="u153_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u154" class="text">
                <p><span>weitere Optionen</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u155" class="ax_default shape">
              <div id="u155_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u156" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u157" class="ax_default shape">
              <div id="u157_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u158" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u159" class="ax_default shape">
              <div id="u159_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u160" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u161" class="ax_default primary_text_dark">
              <!-- Unnamed () -->
              <div id="u162" class="text">
                   <label>zentral:</label>
              <input style="float: right;" type="checkbox" name="heating1" ng-init="heating1='0'" ng-model="heating1" ng-true-value="'1'" ng-false-value="'0'">
   
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u163" class="ax_default primary_text_dark">
              <!-- Unnamed () -->
              <div id="u164" class="text">
                   <label>Gas:</label>
              <input style="float: right;" type="checkbox" name="heating2" ng-init="heating2='0'" ng-model="heating2" ng-true-value="'1'" ng-false-value="'0'">
   
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u165" class="ax_default primary_text_dark">
              <!-- Unnamed () -->
              <div id="u166" class="text">
   				<label>Öl:</label>
             	 <input style="float: right;" type="checkbox" name="heating3" ng-init="heating3='0'" ng-model="heating3" ng-true-value="'1'" ng-false-value="'0'">
                 </div>
            </div>

           

            <!-- Unnamed (Rectangle) -->
            <div id="u182" class="ax_default shape">
              <div id="u182_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u183" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u184" class="ax_default primary_text_dark">

              <!-- Unnamed () -->
              <div id="u185" class="text">
              <label>Garage:</label>
              <input style="float: right;" type="checkbox" name="garage" ng-init="garage='0'" ng-model="garage" ng-true-value="'1'" ng-false-value="'0'">
   
              </div>
            </div>


            <!-- Unnamed (Rectangle) -->
            <div id="u191" class="ax_default shape">
              <div id="u191_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u192" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u193" class="ax_default primary_text_dark">
              <!-- Unnamed () -->
              <div id="u194" class="text">
              <label>Provision:</label>
              <input style="float: right;" type="checkbox" name="freeofcommission" ng-checked="1" ng-init="freeofcommission='1'" ng-model="freeofcommission" ng-true-value="'false'" ng-false-value="'true'">
   
              </div>
            </div>

            <!-- Checkbox (Dynamic Panel) -->

            <!-- Unnamed (Rectangle) -->
            <div id="u200" class="ax_default paragraph">
              <div id="u200_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u201" class="text">
                <p><span>Suche speichern</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u202" class="ax_default paragraph">
              <div id="u202_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u203" class="text">
                <p><span>Durchsuche</span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u204" class="ax_default image">
              <img id="u204_img" class="img " src="images/erweiterte_suche/u204.png"/>
              <!-- Unnamed () -->
              <div id="u205" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u206" class="ax_default image">
              <img id="u206_img" class="img " src="images/erweiterte_suche/u206.png"/>
              <!-- Unnamed () -->
              <div id="u207" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

           
            <!-- Unnamed (Shape) -->
            <div id="u210" class="ax_default icon">
              <img id="u211_img" class="img " src="images/erweiterte_suche/u210.png"/>
              <!-- Unnamed () -->
              <div id="u213" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u212" class="ax_default icon">
              <img id="u212_img" class="img " src="images/erweiterte_suche/u210.png"/>
              <!-- Unnamed () -->
              <div id="u213" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>


            <!-- Ort (Text Field) -->
            <div id="u216" class="ax_default text_field" data-label="Ort">
              <input id="u216_input" type="text" placeholder="Fläche von"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u217" class="ax_default text_field" data-label="Ort">
              <input id="u217_input" type="text" placeholder="Fläche bis"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u218" class="ax_default paragraph">
              <div id="u218_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u219" class="text">
                <p><span>-</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u220" class="ax_default paragraph">
              <div id="u220_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u221" class="text">
                <p><span>Grundstücksfläche</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
<div >
<div>
<ul>

  <li ng-repeat="x in exposedata">
    Titel: {{ x.title }}<br>
    ID: {{x.id}}
  </li>
  
</ul>
</div>
      <!-- Unnamed (Footer) -->

      <!-- Footer (Group) -->
      <div id="u337" class="ax_default" data-label="Footer" data-width="1366" data-height="93">

        <!-- Footer grau (Rectangle) -->
        <div id="u338" class="ax_default box_1" data-label="Footer grau" selectiongroup="u336Footer">
          <div id="u338_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u339" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Impressum (Rectangle) -->
        <div id="u340" class="ax_default heading_3" data-label="Impressum" selectiongroup="u336Footer">
          <!-- Unnamed () -->
          <div id="u341" class="text">
            <p><span>Impressum</span></p>
          </div>
        </div>

        <!-- Kontakt (Rectangle) -->
        <div id="u342" class="ax_default heading_3" data-label="Kontakt" selectiongroup="u336Footer">
          <!-- Unnamed () -->
          <div id="u343" class="text">
            <p><span>Kontakt</span></p>
          </div>
        </div>

        <!-- Über uns (Rectangle) -->
        <div id="u344" class="ax_default heading_3" data-label="Über uns" selectiongroup="u336Footer">
          <!-- Unnamed () -->
          <div id="u345" class="text">
            <p><span>Über uns</span></p>
          </div>
        </div>

        <!-- Hilfe (Rectangle) -->
        <div id="u346" class="ax_default heading_3" data-label="Hilfe" selectiongroup="u336Footer">
          <!-- Unnamed () -->
          <div id="u347" class="text">
            <p><span>Hilfe</span></p>
          </div>
        </div>

        <!-- Datenschutz (Rectangle) -->
        <div id="u348" class="ax_default heading_3" data-label="Datenschutz" selectiongroup="u336Footer">
          <!-- Unnamed () -->
          <div id="u349" class="text">
            <p><span>Datenschutz</span></p>
          </div>
        </div>

        <!-- Werbung (Rectangle) -->
        <div id="u350" class="ax_default heading_3" data-label="Werbung" selectiongroup="u336Footer">
          <!-- Unnamed () -->
          <div id="u351" class="text">
            <p><span>Werbung</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="Controller.js" defer></script>
  </body>
</html>
