<!DOCTYPE html>
<html>
  <head>
    <title>erweiterte Suche</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/erweiterte_suche/styles.css" type="text/css" rel="stylesheet"/>
    <script src="data/document.js"></script>
    <script src="files/erweiterte_suche/data.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
  </head>
  <body ng-app="ImmoPiratenApp" ng-controller="searchCtrl">
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->

      <!-- Logo (Image) -->
      <div id="u61" class="ax_default image" data-label="Logo">
        <img id="u61_img" class="img " src="images/startseite/logo_u3.png"/>
        <!-- Unnamed () -->
        <div id="u62" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Login -->
      <div id="u63" class="ax_default">
        <div id="u63_state0" class="panel_state" data-label="State1">
          <div id="u63_state0_content" class="panel_state_content">

            <!-- User (Shape) -->
            <div id="u64" class="ax_default icon" data-label="User">
              <img id="u64_img" class="img " src="images/startseite/user_u6.png"/>
              <!-- Unnamed () -->
              <div id="u65" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Login (Rectangle) -->
            <div id="u66" class="ax_default paragraph" data-label="Login">
              <div id="u66_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u67" class="text">
                <p><span>Mein Konto | Login</span></p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
<div>


</div>
      <!-- Unnamed (Suche) -->

      <!-- Unnamed (Dynamic Panel) -->
      <div id="u91" class="ax_default">
        <div id="u91_state0" class="panel_state" data-label="State1">
          <div id="u91_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u92" class="ax_default box_1">
              <div id="u92_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u93" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Art (Droplist) -->
            <div id="u94" class="ax_default droplist" data-label="Art" >
              <select id="u94_input" name="realestatetype" ng-model="realestatetype" ng-init="realestatetype='0'">
                <option value="0" >Wohnung</option>
                <option value="1">Haus</option>
                <option value="2">Grundstück</option>
              </select>
            </div>

            <!-- Typ (Droplist) -->
            <div id="u95" class="ax_default droplist" data-label="Typ">
              <select id="u95_input" name="purchasetype" ng-model="purchasetype" ng-init="purchasetype='0'">
                <option value="0">Kauf</option>
                <option value="1">Miete</option>
              </select>
            </div>

            <!-- Umkreis (Droplist) -->
            <div id="u96" class="ax_default droplist" data-label="Umkreis">
              <select id="u96_input" name="radius" ng-model="radius" ng-init="radius='10'">
                <option value="1">1 km</option>
                <option value="5">5 km</option>
                <option value="10">10 km</option>
                <option value="50">50 km</option>
                <option value="100">100 km</option>
                <option value="200">200 km</option>
              </select>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u97" class="ax_default text_field" data-label="Ort">
            	<label for="city">Straße, PLZ, Ort</label>
              <input id="u97_input" type="text" name="city" ng-model="city"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u98" class="ax_default primary_button" ng-click="doSearch()">
              <div id="u98_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u99" class="text">
                <p ><span >Suche</span></p>
              </div>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u100" class="ax_default text_field" data-label="Ort">
              <input id="u100_input" type="text" value="Preis von"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u101" class="ax_default text_field" data-label="Ort">
              <input id="u101_input" type="text" value="Preis bis"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u102" class="ax_default text_field" data-label="Ort">
              <input id="u102_input" type="text" value="Anzahl Zimmer ab"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u103" class="ax_default text_field" data-label="Ort">
              <input id="u103_input" type="text" value="Anzahl Zimmer bis"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u104" class="ax_default text_field" data-label="Ort">
              <input id="u104_input" type="text" value="Fläche von"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u105" class="ax_default text_field" data-label="Ort">
              <input id="u105_input" type="text" value="Fläche bis"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u106" class="ax_default text_field" data-label="Ort">
              <input id="u106_input" type="text" value="Baujahr von"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u107" class="ax_default text_field" data-label="Ort">
              <input id="u107_input" type="text" value="Baujahr bis"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u108" class="ax_default shape">
              <div id="u108_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u109" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u110" class="ax_default shape">
              <div id="u110_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u111" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u112" class="ax_default shape">
              <div id="u112_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u113" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u114" class="ax_default primary_text_dark">
              <div id="u114_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u115" class="text">
                <p><span>Garten</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u116" class="ax_default primary_text_dark">
              <div id="u116_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u117" class="text">
                <p><span>Balkon</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u118" class="ax_default primary_text_dark">
              <div id="u118_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u119" class="text">
                <p><span>Terasse</span></p>
              </div>
            </div>

            <!-- Checkbox (Dynamic Panel) -->
            <div id="u120" class="ax_default" data-label="Checkbox">
              <div id="u120_state0" class="panel_state" data-label="Unchecked">
                <div id="u120_state0_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u121" class="ax_default image1">
                    <img id="u121_img" class="img " src="images/erweiterte_suche/u121.svg"/>
                    <!-- Unnamed () -->
                    <div id="u122" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u120_state1" class="panel_state" data-label="Checked" style="display:none; visibility: hidden;">
                <div id="u120_state1_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u123" class="ax_default image1">
                    <img id="u123_img" class="img " src="images/erweiterte_suche/u123.svg"/>
                    <!-- Unnamed () -->
                    <div id="u124" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Checkbox (Dynamic Panel) -->
            <div id="u125" class="ax_default" data-label="Checkbox">
              <div id="u125_state0" class="panel_state" data-label="Unchecked">
                <div id="u125_state0_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u126" class="ax_default image1">
                    <img id="u126_img" class="img " src="images/erweiterte_suche/u121.svg"/>
                    <!-- Unnamed () -->
                    <div id="u127" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u125_state1" class="panel_state" data-label="Checked" style="display:none; visibility: hidden;">
                <div id="u125_state1_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u128" class="ax_default image1">
                    <img id="u128_img" class="img " src="images/erweiterte_suche/u123.svg"/>
                    <!-- Unnamed () -->
                    <div id="u129" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Checkbox (Dynamic Panel) -->
            <div id="u130" class="ax_default" data-label="Checkbox">
              <div id="u130_state0" class="panel_state" data-label="Unchecked">
                <div id="u130_state0_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u131" class="ax_default image1">
                    <img id="u131_img" class="img " src="images/erweiterte_suche/u121.svg"/>
                    <!-- Unnamed () -->
                    <div id="u132" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u130_state1" class="panel_state" data-label="Checked" style="display:none; visibility: hidden;">
                <div id="u130_state1_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u133" class="ax_default image1">
                    <img id="u133_img" class="img " src="images/erweiterte_suche/u123.svg"/>
                    <!-- Unnamed () -->
                    <div id="u134" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u135" class="ax_default paragraph">
              <div id="u135_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u136" class="text">
                <p><span>Preis</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u137" class="ax_default paragraph">
              <div id="u137_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u138" class="text">
                <p><span>-</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u139" class="ax_default paragraph">
              <div id="u139_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u140" class="text">
                <p><span>Anzahl Zimmer</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u141" class="ax_default paragraph">
              <div id="u141_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u142" class="text">
                <p><span>-</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u143" class="ax_default paragraph">
              <div id="u143_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u144" class="text">
                <p><span>Wohnfläche</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u145" class="ax_default paragraph">
              <div id="u145_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u146" class="text">
                <p><span>Baujahr</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u147" class="ax_default paragraph">
              <div id="u147_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u148" class="text">
                <p><span>-</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u149" class="ax_default paragraph">
              <div id="u149_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u150" class="text">
                <p><span>-</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u151" class="ax_default paragraph">
              <div id="u151_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u152" class="text">
                <p><span>Heizart</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u153" class="ax_default paragraph">
              <div id="u153_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u154" class="text">
                <p><span>weitere Optionen</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u155" class="ax_default shape">
              <div id="u155_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u156" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u157" class="ax_default shape">
              <div id="u157_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u158" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u159" class="ax_default shape">
              <div id="u159_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u160" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u161" class="ax_default primary_text_dark">
              <div id="u161_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u162" class="text">
                <p><span>zentral</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u163" class="ax_default primary_text_dark">
              <div id="u163_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u164" class="text">
                <p><span>Gas</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u165" class="ax_default primary_text_dark">
              <div id="u165_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u166" class="text">
                <p><span>Öl</span></p>
              </div>
            </div>

            <!-- Checkbox (Dynamic Panel) -->
            <div id="u167" class="ax_default" data-label="Checkbox">
              <div id="u167_state0" class="panel_state" data-label="Unchecked">
                <div id="u167_state0_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u168" class="ax_default image1">
                    <img id="u168_img" class="img " src="images/erweiterte_suche/u121.svg"/>
                    <!-- Unnamed () -->
                    <div id="u169" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u167_state1" class="panel_state" data-label="Checked" style="display:none; visibility: hidden;">
                <div id="u167_state1_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u170" class="ax_default image1">
                    <img id="u170_img" class="img " src="images/erweiterte_suche/u123.svg"/>
                    <!-- Unnamed () -->
                    <div id="u171" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Checkbox (Dynamic Panel) -->
            <div id="u172" class="ax_default" data-label="Checkbox">
              <div id="u172_state0" class="panel_state" data-label="Unchecked">
                <div id="u172_state0_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u173" class="ax_default image1">
                    <img id="u173_img" class="img " src="images/erweiterte_suche/u121.svg"/>
                    <!-- Unnamed () -->
                    <div id="u174" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u172_state1" class="panel_state" data-label="Checked" style="display:none; visibility: hidden;">
                <div id="u172_state1_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u175" class="ax_default image1">
                    <img id="u175_img" class="img " src="images/erweiterte_suche/u123.svg"/>
                    <!-- Unnamed () -->
                    <div id="u176" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Checkbox (Dynamic Panel) -->
            <div id="u177" class="ax_default" data-label="Checkbox">
              <div id="u177_state0" class="panel_state" data-label="Unchecked">
                <div id="u177_state0_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u178" class="ax_default image1">
                    <img id="u178_img" class="img " src="images/erweiterte_suche/u121.svg"/>
                    <!-- Unnamed () -->
                    <div id="u179" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u177_state1" class="panel_state" data-label="Checked" style="display:none; visibility: hidden;">
                <div id="u177_state1_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u180" class="ax_default image1">
                    <img id="u180_img" class="img " src="images/erweiterte_suche/u123.svg"/>
                    <!-- Unnamed () -->
                    <div id="u181" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u182" class="ax_default shape">
              <div id="u182_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u183" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u184" class="ax_default primary_text_dark">
              <div id="u184_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u185" class="text">
                <p><span>Garage</span></p>
              </div>
            </div>

            <!-- Checkbox (Dynamic Panel) -->
            <div id="u186" class="ax_default" data-label="Checkbox">
              <div id="u186_state0" class="panel_state" data-label="Unchecked">
                <div id="u186_state0_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u187" class="ax_default image1">
                    <img id="u187_img" class="img " src="images/erweiterte_suche/u121.svg"/>
                    <!-- Unnamed () -->
                    <div id="u188" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u186_state1" class="panel_state" data-label="Checked" style="display:none; visibility: hidden;">
                <div id="u186_state1_content" class="panel_state_content">

                  <!-- Unnamed (Image) -->
                  <div id="u189" class="ax_default image1">
                    <img id="u189_img" class="img " src="images/erweiterte_suche/u123.svg"/>
                    <!-- Unnamed () -->
                    <div id="u190" class="text" style="display:none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u191" class="ax_default shape">
              <div id="u191_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u192" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u193" class="ax_default primary_text_dark">
              <!-- Unnamed () -->
              <div id="u194" class="text">
              <label>Provision:</label>
              <input type="checkbox" name="freeofcommission" ng-checked="1" ng-init="freeofcommission='1'" ng-model="freeofcommission" ng-true-value="'false'" ng-false-value="'true'">
   
              </div>
            </div>

            <!-- Checkbox (Dynamic Panel) -->

            <!-- Unnamed (Rectangle) -->
            <div id="u200" class="ax_default paragraph">
              <div id="u200_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u201" class="text">
                <p><span>Suche speichern</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u202" class="ax_default paragraph">
              <div id="u202_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u203" class="text">
                <p><span>Durchsuche</span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u204" class="ax_default image">
              <img id="u204_img" class="img " src="images/erweiterte_suche/u204.png"/>
              <!-- Unnamed () -->
              <div id="u205" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u206" class="ax_default image">
              <img id="u206_img" class="img " src="images/erweiterte_suche/u206.png"/>
              <!-- Unnamed () -->
              <div id="u207" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u208" class="ax_default image">
              <img id="u208_img" class="img " src="images/erweiterte_suche/u208.png"/>
              <!-- Unnamed () -->
              <div id="u209" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u210" class="ax_default icon">
              <img id="u210_img" class="img " src="images/erweiterte_suche/u210.png"/>
              <!-- Unnamed () -->
              <div id="u211" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u212" class="ax_default icon">
              <img id="u212_img" class="img " src="images/erweiterte_suche/u210.png"/>
              <!-- Unnamed () -->
              <div id="u213" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u214" class="ax_default icon">
              <img id="u214_img" class="img " src="images/erweiterte_suche/u210.png"/>
              <!-- Unnamed () -->
              <div id="u215" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u216" class="ax_default text_field" data-label="Ort">
              <input id="u216_input" type="text" value="Fläche von"/>
            </div>

            <!-- Ort (Text Field) -->
            <div id="u217" class="ax_default text_field" data-label="Ort">
              <input id="u217_input" type="text" value="Fläche bis"/>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u218" class="ax_default paragraph">
              <div id="u218_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u219" class="text">
                <p><span>-</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u220" class="ax_default paragraph">
              <div id="u220_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u221" class="text">
                <p><span>Grundstücksfläche</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

<div >
<div>
<ul>
  <li ng-repeat="x in exposedata">
    Titel: {{ x.title }}<br>
    ID: {{x.id}}
  </li>
  
</ul>
</div>
      <!-- Unnamed (Footer) -->

      <!-- Footer (Group) -->
      <div id="u337" class="ax_default" data-label="Footer" data-width="1366" data-height="93">

        <!-- Footer grau (Rectangle) -->
        <div id="u338" class="ax_default box_1" data-label="Footer grau" selectiongroup="u336Footer">
          <div id="u338_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u339" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Impressum (Rectangle) -->
        <div id="u340" class="ax_default heading_3" data-label="Impressum" selectiongroup="u336Footer">
          <div id="u340_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u341" class="text">
            <p><span>Impressum</span></p>
          </div>
        </div>

        <!-- Kontakt (Rectangle) -->
        <div id="u342" class="ax_default heading_3" data-label="Kontakt" selectiongroup="u336Footer">
          <div id="u342_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u343" class="text">
            <p><span>Kontakt</span></p>
          </div>
        </div>

        <!-- Über uns (Rectangle) -->
        <div id="u344" class="ax_default heading_3" data-label="Über uns" selectiongroup="u336Footer">
          <div id="u344_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u345" class="text">
            <p><span>Über uns</span></p>
          </div>
        </div>

        <!-- Hilfe (Rectangle) -->
        <div id="u346" class="ax_default heading_3" data-label="Hilfe" selectiongroup="u336Footer">
          <div id="u346_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u347" class="text">
            <p><span>Hilfe</span></p>
          </div>
        </div>

        <!-- Datenschutz (Rectangle) -->
        <div id="u348" class="ax_default heading_3" data-label="Datenschutz" selectiongroup="u336Footer">
          <div id="u348_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u349" class="text">
            <p><span>Datenschutz</span></p>
          </div>
        </div>

        <!-- Werbung (Rectangle) -->
        <div id="u350" class="ax_default heading_3" data-label="Werbung" selectiongroup="u336Footer">
          <div id="u350_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u351" class="text">
            <p><span>Werbung</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="Controller.js" defer></script>
  </body>
</html>
