
 <!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<!-- script src="ImmoPiratenApp.js"></script-->
	
</head>
<body ng-app="ImmoPiratenApp">



<!-- <div ng-app="ImmoPiratenApp" ng-controller="immoCtrl">
<p>Today's welcome message is:</p>
<h1>{{myWelcome}}</h1>
</div>


<div  ng-controller="customersCtrl">

<ul>
  <li ng-repeat="x in myData">
    {{ x.Name + ', ' + x.Country }}
  </li>
</ul>-->


<div ng-controller="exposeCtrl">
PublishDate: {{exposedata.publishDate}}
<ul>
  <li ng-repeat="x in exposedata">
    {{ x }}
  </li>
</ul>


</div>
<script src="Controller.js" defer></script>
</body>
</html> 