<!DOCTYPE html>
<html>
<head>
<title>ImmoPiraten | Startseite</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="styles/reset.css" type="text/css" rel="stylesheet" />
<link href="styles/styles.css" type="text/css" rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body data-ng-app="ImmoPiratenApp" data-ng-controller="searchCtrl">
	<div class="container">
		<div class="header" data-ng-include="'header.html'"></div>
		<div class="content">
			<!-- Background Image -->
			<div class="frameBackgroundImage">
				<img class="backgroundImage"
					src="images/startseite/Background_City.jpg" />
			</div>
			<form class="formSearch" data-ng-submit="submit()">
				<!-- Real Estate Type (Drop List) -->
				<select class="dropListSearch" name="realestatetype"
					data-ng-model="realestatetype"
					data-ng-options="id as option for (id, option) in realestatetypes"
					data-ng-init="realestatetype='0'">
				</select>

				<!-- Purchase Type (Drop List) -->
				<select class="dropListSearch" name="purchasetype"
					data-ng-model="purchasetype"
					data-ng-options="id as option for (id, option) in purchasetypes"
					data-ng-init="purchasetype='1'">
				</select>

				<!-- Input (Text Field) -->
				<input type="text" class="inputSearchCity" name="city"
					data-ng-model="city" placeholder="Straße, PLZ, Ort" required />

				<!-- Input (Submit button) -->
				<input type="submit" class="submitSearch" value="Finden" />

				<!-- Extended Search (Link) -->
				<a class="linkSearch"
					data-ng-href="suche.html#?purchasetype={{purchasetype}}&realestatetype={{realestatetype}}&city={{city}}">Expertensuche</a>
			</form>
		</div>

		<div class="footer" data-ng-include="'footer.html'"></div>
	</div>
	<script src="Controller.js" defer></script>
</body>
</html>