<!DOCTYPE html>
<html>
<head>
<title>ImmoPiraten | Suche</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="files/startseite/reset.css" type="text/css" rel="stylesheet"/>
<link href="files/startseite/styles.css" type="text/css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body data-ng-app="ImmoPiratenApp" data-ng-controller="searchCtrl"
	data-ng-init="getDetail()">
	<div id="base" class="">

		<!-- User Panel -->
		<div class="frameUserPanel">
			<!-- User (Shape) -->
			<img id="ImageUserShape" class="img "
				src="images/startseite/User_Shape.png" />

			<!-- Login (Rectangle) -->
			<label>Mein Konto | Login</label>
		</div>

		<!-- Logo (Image) -->
		<div class="frameLogo" data-label="Logo">
		<a href="index.html">
			<img class="logo" src="images/startseite/Logo.png" /></a>
		</div>

		<div id="frameExtendedSearch" class="extendedSearchFrame">
			<form id="SearchForm" class="formSearch" data-ng-submit="doSearch()">

				<!-- Real Estate Type (Droplist) -->
				<select class="dropListSearch" name="realestatetype"
					data-ng-model="realestatetype"
					data-ng-options="id as option for (id, option) in realestatetypes">
				</select>

				<!-- Purchase Type (Droplist) -->
				<select class="dropListSearch" name="purchasetype"
					data-ng-model="purchasetype"
					data-ng-options="id as option for (id, option) in purchasetypes">
				</select>

				<!-- Input (Text Field) -->
				<input type="text" class="inputSearchCity" name="city"
					data-ng-model="city" placeholder="Straße, PLZ, Ort" required />

				<!-- Distance (Droplist) -->
				<select class="dropListSearch" name="radius" data-ng-model="radius"	data-ng-options="x.label for x in radiuses" data-ng-init="radius=radiuses[3]">
				</select>

				<!-- Input (Submit button) -->
				<input type="submit" class="submitSearch" value="Finden" />

				<!-- Save Search (Link) -->
				<a class="linkSearch">Suche speichern</a> <br />

				<div class="horizontalBar"></div>

				<!-- price -->

				<div class="frameSearchRange">
					<label class="labelSearch">Preis</label>

					<!-- price from (Text Field) -->
					<input type="number" min=0 class="inputSearchRange"
						name="pricefrom" placeholder="von" data-ng-model="pricefrom" />

					<!-- price till (Text Field) -->
					<input type="number" min=0 class="inputSearchRange"
						name="pricetill" placeholder="bis" data-ng-model="pricetill" />
				</div>

				<!-- rooms -->

				<div class="frameSearchRange">
					<label class="labelSearch">Zimmer</label>

					<!-- room from (Text Field) -->
					<input type="number" min=0 class="inputSearchRange" placeholder="von"
						data-ng-model="roomfrom" />

					<!-- room till (Text Field) -->
					<input type="number" min=0 class="inputSearchRange" placeholder="bis"
						data-ng-model="roomtill" />
				</div>

				<!-- living area -->

				<div class="frameSearchRange">
					<label class="labelSearch">Wohnfläche</label>


					<!-- living area from (Text Field) -->
					<input type="number" min=0 class="inputSearchRange" placeholder="von"
						data-ng-model="livingareafrom" />

					<!-- living area till (Text Field) -->
					<input type="number" min=0 class="inputSearchRange" placeholder="bis"
						data-ng-model="livingareatill" />
				</div>

				<!-- plot area -->

				<div class="frameSearchRange">
					<label class="labelSearch">Grundstücksfläche</label>

					<!-- construction year from (Text Field) -->
					<input type="number" min=0 class="inputSearchRange" placeholder="von"
						data-ng-model="plotareafrom" />

					<!-- construction year till (Text Field) -->
					<input type="number" min=0 class="inputSearchRange" placeholder="bis"
						data-ng-model="plotareatill" />
				</div>

				<!-- Heating -->
				<div class="frameSearchCheck">
					<label class="labelSearch">Heizung</label>

					<!-- fire type (Checkbox) -->
					<input type="checkbox" class="inputSearchCheck"
						data-ng-model="heating1" disabled><label>Zentral</label><br /> 
						<input type="checkbox" class="inputSearchCheck" data-ng-model="heating2"
						disabled><label>Gas</label><br /> 
					<input type="checkbox"
						class="inputSearchCheck" data-ng-model="heating3" disabled>
						<label>Öl</label><br />

				</div>

				<!-- Other Options -->
				<div class="frameSearchCheck">
					<label class="labelSearch">Filter</label>

					<!-- Other Options (Checkbox) -->
					<input type="checkbox" class="inputSearchCheck" data-ng-model="freeofcommission" data-ng-true-value="true" data-ng-false-value="false" data-ng-init="freeofcommission='false'"><label>Provisionsfrei</label><br />
					<input type="checkbox" class="inputSearchCheck"	data-ng-model="garden" data-ng-true-value="true" data-ng-false-value="false" data-ng-init="garden='false'"><label>Garten</label><br /> 
					<input type="checkbox" class="inputSearchCheck" data-ng-model="terrace" data-ng-true-value="true" data-ng-false-value="false" data-ng-init="terrace='false'">
						<label>Terrasse</label><br />
				</div>

				<div class="frameSearchCheck">
					<label class="labelSearch">Filter</label>

					<!-- Other Options (Checkbox) -->
					<input type="checkbox" class="inputSearchCheck" data-ng-model="balcony" data-ng-model="balcony" data-ng-true-value="true" data-ng-false-value="false" data-ng-init="balcony='false'"><label>Balkon</label><br /> <input
						type="checkbox" class="inputSearchCheck" data-ng-model="garage" data-ng-model="garage" data-ng-true-value="true" data-ng-false-value="false" data-ng-init="garage='false'">
						<label>Garage</label><br />
				</div>				
				
				<!-- Portals -->
				<div class="frameSearchCheck">
					<label class="labelSearch">Portale</label>

					<!-- ImmoScout (Checkbox) -->
					<a ng-click="toggleImageImmoScout()"><img id="followbuttonImmoScout" class="imgLogoPortaleCheckbox" ng-src="{{followBtnImgUrlImmoScout}}"  /></a>            
					<input type="checkbox" name="immoScout" data-ng-init="immoScout='1'" data-ng-model="immoScout" data-ng-true-value="'1'" data-ng-false-value="'0'" style="display:none; visibility: hidden">
				    <img id="logo" class="imgLogoPortale" src="images/suche/Logo_ImmoScout.png"/><br />
					    
					<!-- Immonet (Checkbox) -->
					<a ng-click="toggleImageImmoNet()"><img id="followbuttonImmoNet" class="imgLogoPortaleCheckbox" ng-src="{{followBtnImgUrlImmoNet}}"  /></a>    
					<input type="checkbox" name="immoNet" data-ng-init="immoNet='1'" data-ng-model="immoNet" data-ng-true-value="'1'" data-ng-false-value="'0'" style="display:none; visibility: hidden">
					<img id="logo" class="imgLogoPortale" src="images/suche/Logo_ImmoNet.png"/><br />
						
					
				</div>	<br/>
		
				<div class="searchbar" style="{{toggleSortingValue}}">
					<select class="dropListSort" name="sorting" data-ng-model="sorting" data-ng-options="id as option for (id, option) in sortings" data-ng-change="doSearch()"  data-ng-init="sorting='0'" >
								</select>
				</div>
			</form>
		</div>

		<div class="frameResultList" data-ng-repeat="x in exposedata">
		
			<div class="frameResultListEntry">
				
				<div class="frameResultListEntryTitle">
					<a class="resultListEntryTitle" href="detail.html#?id={{ x.id }}&portal=1">{{ x.title }}</a>
				</div>
				
				<div class="frameResultListEntryExpose">
					<div class="frameImgResultListEntry">
						<img data-ng-src="{{ x.image }}" />
					</div>
					<div class="frameResultListEntryOrigin">
						<img class="imgResultListEntryOrigin" data-ng-if="x.portal == 'ImmobilienScout24'"
							src="images/suche/Logo_ImmoScout.png" />
						<img class="imgResultListEntryOrigin" data-ng-if="x.portal == 'Immonet'"
							src="images/suche/Logo_Immonet.png" />
					</div>
					<div class="frameResultListEntryInfo">
						<div class="frameResultListEntryPrice">
							<label class="labelResultListEntryInfoCaption">Kaltmiete</label>
							<label class="labelResultListEntryInfoValue">{{ x.price }} €</label>
						</div>
						<div class="frameResultListEntryLivingArea">
							<label class="labelResultListEntryInfoCaption">Wohnfläche</label>
							<label class="labelResultListEntryInfoValue">{{	x.livingArea }} m²</label>
						</div>
						<div class="frameResultListEntryRooms">
							<label class="labelResultListEntryInfoCaption">Zimmer</label>
							<label class="labelResultListEntryInfoValue">{{	x.room }}</label>
						</div>
						<div class="frameResultListEntryCity">
							<label class="labelResultListEntryInfoCaption">Ort</label>
							<label class="labelResultListEntryInfoValue">{{	x.site.city }}</label>
						</div>
					</div>
				
				</div>
				
			</div>
		</div>
		<div data-ng-include="'footer.html'" ></div>
	</div>
	
	<script src="Controller.js" defer></script>
</body>
</html>
