<!DOCTYPE html>
<html>
<head>
<title>ImmoPiraten | Suche</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="styles/reset.css" type="text/css" rel="stylesheet" />
<link href="styles/styles.css" type="text/css" rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body data-ng-app="ImmoPiratenApp" data-ng-controller="searchCtrl"
	data-ng-init="getDetail()">
	<div class="container">
		<div class="header" data-ng-include="'header.html'"></div>
		<div class="content">
			<form class="formExtendedSearch" data-ng-submit="doSearch()">
				<div class="frameSearchRow">
					<!-- Real Estate Type (Drop List) -->
					<div class="frameSearchColumn">
						<select class="dropListSearch" name="realestatetype"
							data-ng-model="realestatetype"
							data-ng-options="id as option for (id, option) in realestatetypes">
						</select>
					</div>

					<!-- Purchase Type (Drop List) -->
					<div class="frameSearchColumn">
						<select class="dropListSearch" name="purchasetype"
							data-ng-model="purchasetype"
							data-ng-options="id as option for (id, option) in purchasetypes">
						</select>
					</div>
					<!-- Input (Text Field) -->
					<div class="frameSearchColumn">
						<input type="text" class="inputSearchCity" name="city"
							data-ng-model="city" placeholder="Straße, PLZ, Ort" required />
					</div>
					<!-- Distance (Drop List) -->
					<div class="frameSearchColumn">
						<select class="dropListSearch" name="radius"
							data-ng-model="radius"
							data-ng-options="x.label for x in radiuses"
							data-ng-init="radius=radiuses[1]">
						</select>
					</div>
					<!-- Input (Submit Button) -->
					<div class="frameSearchColumn">
						<input type="submit" class="submitSearch" value="Finden" />
					</div>
					<!-- Save Search (Link) -->
					<div class="frameSearchColumn">
						<a class="linkSearch">Suche speichern</a> <br />
					</div>
				</div>
				<div class="horizontalBar"></div>

				<div class="frameSearchRow">

					<!-- price -->
					<div class="frameSearchColumn">
						<label class="labelSearch">Preis</label>

						<!-- price from (Text Field) -->
						<input type="number" min=0 class="inputSearchRange"
							name="pricefrom" placeholder="von" data-ng-model="pricefrom" />

						<!-- price till (Text Field) -->
						<input type="number" min=0 class="inputSearchRange"
							name="pricetill" placeholder="bis" data-ng-model="pricetill" />
					</div>

					<!-- rooms -->
					<div class="frameSearchColumn">
						<label class="labelSearch">Zimmer</label>

						<!-- room from (Text Field) -->
						<input type="number" min=0 class="inputSearchRange"
							placeholder="von" data-ng-model="roomfrom" />

						<!-- room till (Text Field) -->
						<input type="number" min=0 class="inputSearchRange"
							placeholder="bis" data-ng-model="roomtill" />
					</div>

					<!-- living area -->
					<div class="frameSearchColumn">
						<label class="labelSearch">Wohnfläche</label>

						<!-- living area from (Text Field) -->
						<input type="number" min=0 class="inputSearchRange"
							placeholder="von" data-ng-model="livingareafrom" />

						<!-- living area till (Text Field) -->
						<input type="number" min=0 class="inputSearchRange"
							placeholder="bis" data-ng-model="livingareatill" />
					</div>

					<!-- plot area -->
					<div class="frameSearchColumn">
						<label class="labelSearch">Grundstücksfläche</label>

						<!-- construction year from (Text Field) -->
						<input type="number" min=0 class="inputSearchRange"
							placeholder="von" data-ng-model="plotareafrom" />

						<!-- construction year till (Text Field) -->
						<input type="number" min=0 class="inputSearchRange"
							placeholder="bis" data-ng-model="plotareatill" />
					</div>

					<div class="frameSearchColumn" style="flex: 1 2 100%;"></div>
					<div class="frameSearchColumn" style="flex: 1 2 100%;"></div>
				</div>

				<div class="frameSearchRow frameSearchRowCheck">

					<!-- Heating -->
					<div class="frameSearchColumn">
						<label class="labelSearch">Heizung</label>

						<!-- fire type (Check Box) -->
						<label><input type="checkbox" class="inputSearchCheck"
							data-ng-model="heating1" disabled />Zentral</label><br /> <label><input
							type="checkbox" class="inputSearchCheck" data-ng-model="heating2"
							disabled />Gas</label><br /> <label><input type="checkbox"
							class="inputSearchCheck" data-ng-model="heating3" disabled />Öl</label><br />

					</div>

					<!-- Other Options -->
					<div class="frameSearchColumn">
						<label class="labelSearch">Filter</label>

						<!-- Other Options (Check Box) -->
						<label><input type="checkbox" class="inputSearchCheck"
							data-ng-model="freeofcommission" data-ng-true-value="true"
							data-ng-false-value="false"
							data-ng-init="freeofcommission='false'" />Provisionsfrei</label><br />
						<label><input type="checkbox" class="inputSearchCheck"
							data-ng-model="garden" data-ng-true-value="true"
							data-ng-false-value="false" data-ng-init="garden='false'" />Garten</label><br />
						<label><input type="checkbox" class="inputSearchCheck"
							data-ng-model="terrace" data-ng-true-value="true"
							data-ng-false-value="false" data-ng-init="terrace='false'" />Terrasse</label><br />
					</div>

					<div class="frameSearchColumn">
						<label class="labelSearch">Filter</label>

						<!-- Other Options (Checkbox) -->
						<label><input type="checkbox" class="inputSearchCheck"
							data-ng-model="balcony" data-ng-true-value="true"
							data-ng-false-value="false" data-ng-init="balcony='false'" />Balkon</label><br />
						<label><input type="checkbox" class="inputSearchCheck"
							data-ng-model="garage" data-ng-model="garage"
							data-ng-true-value="true" data-ng-false-value="false"
							data-ng-init="garage='false'" />Garage</label><br />
					</div>
					<div class="frameSearchColumn">
						<label class="labelSearch">Portale</label>

						<!-- ImmoScout (Check Box) -->

						<input type="checkbox" class="inputSearchCheck"
							data-ng-click="toggleImageImmoScout()" data-ng-init="immoScout='1'" data-ng-model="immoScout" data-ng-true-value="'1'" data-ng-false-value="'0'"><img id="logo"
							class="imgLogoPortals" src="images/suche/Logo_ImmoScout.png" /><br />
						<br/>
						<!-- Immonet (Check Box) -->
						<input type="checkbox" class="inputSearchCheck"
							data-ng-click="toggleImageImmoNet()" data-ng-init="immoNet='1'" data-ng-model="immoNet" data-ng-true-value="'1'" data-ng-false-value="'0'"><img id="logo"
							class="imgLogoPortals" src="images/suche/Logo_ImmoNet.png" /><br />

					</div>
					<div class="frameSearchColumn" style="display:none;flex: 1 2 100%;"></div>
					<div class="frameSearchColumn" style="display:none;;flex: 1 2 100%;"></div>
				</div>
			</form>
			<div class="searchbar">
							<select class="dropListSort" name="sorting"
								data-ng-model="sorting"
								data-ng-options="id as option for (id, option) in sortings"
								data-ng-change="doSearch()" data-ng-init="sorting='0'">
							</select>
						</div>
			 <div class="frameResultList">
		
			<div class="frameResultListEntry" data-ng-repeat="x in exposedata">
				
				<div class="frameResultListEntryTitle">
					<a class="resultListEntryTitle" href="detail.html#?id={{ x.id }}&portal=1" data-ng-if="x.portal == 'ImmobilienScout24'">{{ x.title }}</a>
					<a  class="resultListEntryTitle" href="detail.html#?id={{ x.id }}&portal=2" data-ng-if="x.portal == 'Immonet'">{{ x.title }}</a>
				</div>
				
				<div class="frameResultListEntryExpose">
					<div class="frameImgResultListEntry">
						<img class="imgResultListEntryPhoto" data-ng-if="!x.image"
							data-ng-src="images/suche/no-photo.png" />
						<img class="imgResultListEntryPhoto" data-ng-if="x.image !== 'undefined'"
							data-ng-src="{{ x.image }}" />
					</div>
					<div class="frameResultListEntryOrigin">
						<img class="imgResultListEntryOrigin" data-ng-if="x.portal == 'ImmobilienScout24'"
							data-ng-src="images/suche/Logo_ImmoScout.png" />
						<img class="imgResultListEntryOrigin" data-ng-if="x.portal == 'Immonet'"
							data-ng-src="images/suche/Logo_Immonet.png" />
					</div>
					<div class="frameResultListEntryInfo">
						<div class="frameResultListEntryPrice">
							<label class="labelResultListEntryInfoCaption">Preis</label>
							<label class="labelResultListEntryInfoValue">{{ x.price }} €</label>
						</div>
						<div class="frameResultListEntryLivingArea">
							<label class="labelResultListEntryInfoCaption">Wohnfläche</label>
							<label class="labelResultListEntryInfoValue">{{	x.livingArea }} m²</label>
						</div>
						<div class="frameResultListEntryRooms">
							<label class="labelResultListEntryInfoCaption">Zimmer</label>
							<label class="labelResultListEntryInfoValue">{{	x.room }}</label>
						</div>
						<div class="frameResultListEntryCity">
							<label class="labelResultListEntryInfoCaption">Ort</label>
							<label class="labelResultListEntryInfoValue">{{	x.site.city }}</label>
						</div>
					</div>
				
				</div>
				
			</div>
		</div>
		
		</div>
		<div class="footer" data-ng-include="'footer.html'"></div>


	</div>
	<script src="Controller.js" defer></script>
</body>
</html>
